/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    font-family:Times;
    font-size: 16px;
    color:#ffffff;
}

.table-border {
    border: 1px solid #ffffff;
}

#photo-resize {
    max-width: 250;
    max-height: 300;
}
